<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>gnservlet.RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRegServlet</servlet-name>
        <servlet-class>gnservlet.DeleteRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRegServlet</servlet-name>
        <servlet-class>gnservlet.UpdateRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CTestServlet</servlet-name>
        <servlet-class>gnservlet.CTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRegServlet</servlet-name>
        <url-pattern>/DeleteRegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRegServlet</servlet-name>
        <url-pattern>/UpdateRegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CTestServlet</servlet-name>
        <url-pattern>/CTestServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
